In [1]:
print ("hello")

hello

In [8]:
print(a =123)
print(a = -382)
print(a =0)

TypeError: 'a' is an invalid keyword argument for print()

In [7]:
print(3&7)
print(8%6)
print(5%2)

3
2
1

In [9]:
a = 3
b = 4
a + b

7

In [23]:
food = 'Python\'s favorite food is perl'
say = "\"Python is very easy.\" he says."
print(food)
print(say)

Python's favorite food is perl
"Python is very easy." he says.

In [27]:
multiline='''
Life is too short 
You need python
'''
print(multiline)

Life is too short
You need python

In [28]:
head = "Python"
tail = " is fun!"
print(head + tail)

Python is fun!

In [29]:
a = "python"
a*2

'pythonpython'

In [30]:
print("=" * 50)
print("My Program")
print("=" * 50)

==================================================
My Program
==================================================

In [31]:
a = "Life is too short, You need Python"
a[3]

'e'

In [33]:
a = "Life is too short, You need Python"
a[4]
a[-1]

'n'

In [34]:
a = "Life is too short, You need Python"
b = a[0] + a[1] + a[2] + a[3]
print(b)

Life

In [38]:
a = "Life is too short, You need Python"
a[0:4]
print(a[0:4])
print(a[5:7])
print(a[12:17])

Life
is
short

In [39]:
"I eat %d apples." % 3

'I eat 3 apples.'

In [40]:
"I eat %s apples." % "five"

'I eat five apples.'

In [41]:
number = 3
"I eat %d apples." % number

'I eat 3 apples.'

In [42]:
"I eat {0} apples".format(3)

'I eat 3 apples'

In [43]:
number = 10
day = "three"
"I ate {0} apples. so I was sick for {1} days.".format(number, day)

'I ate 10 apples. so I was sick for three days.'

In [44]:
a = "HI"
a.lower()

'hi'

In [45]:
a = " hi "
a.lstrip()
a.rstrip()

' hi'

In [47]:
a = [1, 2, 3, 4, 5]
a[0:2]
print(a[0:2])

[1, 2]

In [53]:
a = [1, 4, 3, 2]
a.sort()
print(a)

[1, 2, 3, 4]

In [54]:
a = ['a', 'c', 'b']
a.reverse()
print(a)

['b', 'c', 'a']

In [55]:
a = [1,2,3]
a.index(3)

2

In [56]:
a = [1, 2, 3, 4, 5, 6]
a.remove(3)
print(a)

[1, 2, 4, 5, 6]

In [57]:
a = [1,2,3]
a.pop()
print(a)

[1, 2]

In [58]:
a = [1,2,3]
a.pop(1)
print(a)

[1, 3]

In [61]:
a = [1,2,3,1]
a.count(1)

2

In [63]:
a = [1,2,3]
a.extend([4,5])
print(a)
b =[6,7]
a.extend(b)
print(a)

[1, 2, 3, 4, 5]
[1, 2, 3, 4, 5, 6, 7]

In [65]:
t1 = (1,2,'a','b')
t1[0]
t1[3]

'b'

In [117]:
a = 80
b = 55
c = 75
(a+b+c)/3

70.0

In [118]:
number = input("정수 입력")
number = int(number)
if number % 2 == 1:
    print("홀수")
if number % 2 == 0:
    print("짝수")

정수 입력13
홀수

In [124]:
연월일 =  881120
숫자 = 1068234
print(연월일,숫자)

881120 1068234

In [144]:
pin = "881120-1068234"
b = pin[7] 
print(b)

1

In [145]:
a = "a:b:c:d"
b = a.replace(":", "#")
print(b)

a#b#c#d

In [148]:
a = [1,3,5,4,2]
a.sort()
a.reverse()
print(a)

[5, 4, 3, 2, 1]

In [152]:
a = {'A':90, 'B':80, 'C':70}
a.pop('B')
print(a)

{'A': 90, 'C': 70}

In [153]:
a = [1, 1, 1, 2, 2, 3, 3, 3, 4, 4, 5]
aSet = set(a)
b = list(aSet)
print(b)

[1, 2, 3, 4, 5]

In [154]:
money = True

if money:
    print("택시를 타고 가라")
else:
    print("걸어 가라")

택시를 타고 가라

In [158]:
x = 3
y = 2
x > y
x == y
x != y

True

In [ ]:
money = 2000
if money >= 3000: